<script>
window.CatchTracker = window.CatchTracker || {};
<% if @catch.time %>
window.CatchTracker.catchDefaultTime = new Date('<%= @catch.time.to_s %>');
<% else %>
window.CatchTracker.catchDefaultTime = new Date();
<% end %>
</script>

<%= form_with(model: catch, local: true) do |form| %>
  <% if catch.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= pluralize(catch.errors.count, "error") %> prohibited this catch from being saved:</p>
      <ul>
      <% catch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="alert alert-warning" role="alert" id="mapGeolocationFailed" style="display:none;">Geolocation Failed</div>

  <div class="form-group">
    <div class="map-container">
      <div class="map-inner" id="map"></div>
    </div>
    <%= form.hidden_field :lat, id: 'lat' %>
    <%= form.hidden_field :lng, id: 'lng' %>
  </div>

  <div class="form-group">
    <%= form.label :fish_id %>
    <%= form.collection_select :fish_id, Fish.all, :id, :name, {prompt: true}, {class: 'selectpicker'} %>
  </div>

  <div class="form-group">
    <%= form.label :length %>
    <%= form.number_field :length, id: :catch_length, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <div class='input-group date' id='datetimepicker'>
      <%= form.text_field :time, :class => "form-control"%>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :catch_notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit :Submit, class: 'btn btn-default' %>
  </div>
<% end %>
