<h1>Catches</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Length</th>
        <th>Time</th>
        <th>Notes</th>
        <th>User</th>
        <th>Fish</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @catches.each do |catch| %>
        <tr>
          <td><%= catch.length %></td>
          <td><%= catch.time %></td>
          <td><%= catch.notes %></td>
          <td><%= catch.user.email %></td>
          <td><%= catch.fish.name %></td>
          <td><%= link_to 'Show', catch %></td>
          <td><%= link_to 'Edit', edit_catch_path(catch) %></td>
          <td><%= link_to 'Destroy', catch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Catch', new_catch_path, class: 'btn btn-default' %>
