<p>
  <strong>Length:</strong>
  <%= @catch.length %>
</p>

<p>
  <strong>Time:</strong>
  <%= @catch.time %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @catch.notes %>
</p>

<p>
  <strong>User:</strong>
  <%= @catch.user.email %>
</p>

<p>
  <strong>Fish:</strong>
  <%= @catch.fish.name %>
</p>

<%= link_to 'Edit', edit_catch_path(@catch) %> |
<%= link_to 'Back', catches_path %>
