<%= form_with(model: fish, local: true) do |form| %>
  <% if fish.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= pluralize(fish.errors.count, "error") %> prohibited this fish from being saved:</p>

      <ul>
      <% fish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :fish_name, class: 'form-control' %>
  </div>

  <!-- <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :fish_user_id %>
  </div> -->


  <div class="actions">
    <%= form.submit :Submit, class: 'btn btn-default' %>
  </div>
<% end %>
